### 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [20]:
import operator
def arithmetic_operation(string):
    try:
        dct={'+':operator.add,'-':operator.sub,'*':operator.mul,'/':operator.truediv,'//':operator.floordiv}
        lst=string.split(' ')
        num1,op,num2=int(lst[0]),dct[lst[1]],int(lst[2])
        result= op(num1,num2)
        return result
    except ZeroDivisionError as e:
        return -1
    except Exception as e1:
        print("Error msg:",e1)

In [21]:
arithmetic_operation("12 + 12") #➞ 24 // 12 + 12 = 24

24

In [22]:
arithmetic_operation("12 - 12") #➞ 24 // 12 - 12 = 0

0

In [23]:
arithmetic_operation("12 * 12") #➞ 144 // 12 * 12 = 144

144

In [24]:
arithmetic_operation("12 // 0") #➞ -1 // 12 / 0 = -1

-1

### 2.Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.
**Examples:**  
`perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08`  
`perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42`  
`perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28`

In [46]:
import numpy as np
def perimeter(lst):
    try:
        l1=np.sqrt((lst[0][0] - lst[1][0])**2 + (lst[0][1] - lst[1][1])**2)
        l2=np.sqrt((lst[0][0] - lst[2][0])**2 + (lst[0][1] - lst[2][1])**2)
        l3=np.sqrt((lst[1][0] - lst[2][0])**2 + (lst[2][1] - lst[1][1])**2)
        result=l1+l2+l3
        return round(result,2)
    except Exception as e:
        print("Error msg:",e)

In [47]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) #➞ 47.08

47.08

In [48]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) #➞ 3.42

3.41

In [49]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) #➞ 68.28

68.28

### 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [124]:
def tallest_skyscraper(lst):
    try:
        high=0
        for i in range(len(lst)):
            total=0
            for j in range(len(lst[i])):
                total+=lst[j][i]

            if total>high:
                high=total
        return high
    except Exception as e:
        print("Error msg:",e)

In [125]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]) #➞ 3

3

In [126]:
tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]) #➞ 4

4

In [127]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ]) #➞ 2

2

### 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [165]:
def bonus(n):
    try:
        if n<=32:
            return 0
        elif n>32 and n<=40:
            result=(n-32)*325
            return result
        elif n>40 and n<=48:
            result=325*8 + 550*(n-40)
            return result
        else:
            result=((8*325) + (8*550) + ((n-48)*600))
            return result
    except Exception as e:
        print("Error msg:",e)

In [166]:
bonus(15) #➞ 0

0

In [167]:
bonus(37) #➞ 1625

1625

In [169]:
bonus(50) #➞ 8200

8200

### 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [11]:
def is_disarium(a):
    try:
        temp=a
        lst=[]
        while a>0:
            if a!=1:
                lst.append(a%10)
                a//=10
        lst=lst[::-1]
        
        result=0
        for i in range(len(lst)):
            result+=lst[i]**(i+1)
            
        if result==temp:
            return True
        else:
            return False
    except Exception as e:
        print("Error msg:",e)

In [12]:
is_disarium(544) #➞ False

False

In [13]:
is_disarium(518) #➞ True

True

In [14]:
is_disarium(466) #➞ False

False

In [15]:
is_disarium(8) #➞ True

True