### 1. For this challenge, forget how to add two numbers together. The best explanation on what to do for this function is this meme:




Examples

meme_sum(26, 39) ➞ 515
# 2+3 = 5, 6+9 = 15
# 26 + 39 = 515

meme_sum(122, 81) ➞ 1103
# 1+0 = 1, 2+8 = 10, 2+1 = 3
# 122 + 81 = 1103

meme_sum(1222, 30277) ➞ 31499

In [6]:
def meme_sum(a,b):
    a,b = str(a),str(b)
    summ = ''
    while len(a) != len(b):
        if len(a) < len(b):
            a ='0'+a
        else:
            b='0'+b
            
    for i in range(len(a)):
        summ += str(int(a[i])+int(b[i]))
    return summ

In [7]:
meme_sum(26, 39) #➞ 515

'515'

In [8]:
meme_sum(122, 81) #➞ 1103

'1103'

In [9]:
meme_sum(1222, 30277) #➞ 31499

'31499'

### 2. Given an integer, create a function that returns the next prime. If the number is prime, return the number itself.

Examples

next_prime(12) ➞ 13

next_prime(24) ➞ 29

next_prime(11) ➞ 11
# 11 is a prime, so we return the number itself.

In [1]:
def next_prime(n):
    
    for i in range(n,100*n):
        count=0
        for j in range(2,i):
            if i%j==0:
                count+=1
                break
            else:
                pass
        if count==0:
            return i

In [3]:
next_prime(12) #➞ 13

13

In [4]:
next_prime(24) #➞ 29

29

In [5]:
next_prime(11) #➞ 11

11

### 3. If a person traveled up a hill for 18mins at 20mph and then traveled back down the same path at 60mph then their average speed traveled was 30mph.

Write a function that returns the average speed traveled given an uphill time, uphill rate and a downhill rate. Uphill time is given in minutes. Return the rate as an integer (mph). No rounding is necessary.

Examples

ave_spd(18, 20, 60) ➞ 30

ave_spd(30, 10, 30) ➞ 15

ave_spd(30, 8, 24) ➞ 12

In [13]:
def ave_spd(t1,v1,v2):
    distance=t1*v1
    t2=distance/v2
    v_avg = (2*distance)/(t1+t2)
    return v_avg

In [14]:
ave_spd(18, 20, 60) #➞ 30

30.0

In [15]:
ave_spd(30, 10, 30) #➞ 15

15.0

In [16]:
ave_spd(30, 8, 24) #➞ 12

12.0

### 4. The Kempner Function, applied to a composite number, permits to find the smallest integer greater than zero whose factorial is exactly divided by the number.

kempner(6) ➞ 3

1! = 1 % 6 > 0
2! = 2 % 6 > 0
3! = 6 % 6 === 0

kempner(10) ➞ 5

1! = 1 % 10 > 0
2! = 2 % 10 > 0
3! = 6 % 10 > 0
4! = 24 % 10 > 0
5! = 120 % 10 === 0

A Kempner Function applied to a prime will always return the prime itself.

kempner(2) ➞ 2
kempner(5) ➞ 5

Given an integer n, implement a Kempner Function.

Examples

kempner(6) ➞ 3

kempner(10) ➞ 5

kempner(2) ➞ 2

In [21]:
def kempner(n):
    
    def fact(num):
        
        if num==1:
            return 1
        else:
            return num*fact(num-1)
        
    for i in range(1,n+1):
        if fact(i)%n==0:
            return i

In [22]:
kempner(6) #➞ 3

3

In [23]:
kempner(10) #➞ 5

5

In [24]:
kempner(2) #➞ 2

2

### 5. You work in a factory, and your job is to take items from a conveyor belt and pack them into boxes. Each box can hold a maximum of 10 kgs. Given a list containing the weight (in kg) of each item, how many boxes would you need to pack all of the items?

Example

boxes([2, 1, 2, 5, 4, 3, 6, 1, 1, 9, 3, 2]) ➞ 5

 Box 1 = [2, 1, 2, 5] (10kg)
 
 Box 2 = [4, 3] (7kg)
 
 Box 3 = [6, 1, 1] (8kg)
 
 Box 4 = [9] (9kg)
 
 Box 5 = [3, 2] (5kg)

In [56]:
def boxes(lst):
    summ=0
    count=0
    for i in lst:
        if summ+i==10:
            summ=0
            count+=1
        elif summ+i>10:
            summ+=i-10
            count+=2
        else:
            summ+=i
    return count

In [57]:
boxes([2, 1, 2, 5, 4, 3, 6, 1, 1, 9, 3, 2]) #➞ 5

5