### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [23]:
def show_the_love(lst):
    smallest=lst[0]
    for i in range(1,len(lst)):
        if lst[i]<smallest:
            smallest=lst[i]     
    
    chunk=0        
    for i in lst:
        if i==smallest:
            pass
        else:
            chunk+=(0.25*i)       
    
    new_lst=[]        
    for i in lst:
        if i==smallest:
            new_lst.append(i+chunk)
        else:
            new_lst.append(i*0.75)
    return new_lst

In [24]:
show_the_love([4, 1, 4]) #➞ [3, 3, 3]

[3.0, 3.0, 3.0]

In [25]:
show_the_love([16, 10, 8]) #➞ [12, 7.5, 14.5]

[12.0, 7.5, 14.5]

In [26]:
show_the_love([2, 100]) #➞ [27, 75]

[27.0, 75.0]

### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
# Even with multiple matching letters (e.g. 3 f's), there should 
# only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]
# "ham" does not contain any letters that are not found already 
# in "match".

In [38]:
def letters(word1, word2):
    common=''
    unique1=''
    unique2=''
    for i in word1:
        for j in word2:
            if i==j:
                if i in common:
                    pass
                else:
                    common+=i
    for i in word1:
        if i in common:
            pass
        else:
            if i in unique1:
                pass
            else:
                unique1+=i
    for i in word2:
        if i in common:
            pass
        else:
            if i in unique2:
                pass
            else:
                unique2+=i
    return [common,unique1,unique2]

In [39]:
letters("sharp", "soap") #➞ ["aps", "hr", "o"]

['sap', 'hr', 'o']

In [40]:
letters("board", "bored") #➞ ["bdor", "a", "e"]

['bord', 'a', 'e']

In [41]:
letters("happiness", "envelope") #➞ ["enp", "ahis", "lov"]

['pne', 'hais', 'vlo']

In [42]:
letters("kerfuffle", "fluffy") #➞ ["flu", "ekr", "y"]

['ful', 'ker', 'y']

In [43]:
letters("match", "ham") #➞ ["ahm", "ct", ""]

['mah', 'tc', '']

### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [68]:
import numpy as np
def pairs(lst):
    new_lst=[]
    for i in range(int(np.ceil(len(lst)/2))):
        new_lst.append([lst[i],lst[-i-1]])
    return new_lst

In [69]:
pairs([1, 2, 3, 4, 5, 6, 7]) #➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [70]:
pairs([1, 2, 3, 4, 5, 6]) #➞ [[1, 6], [2, 5], [3, 4]]

[[1, 6], [2, 5], [3, 4]]

In [71]:
pairs([5, 9, 8, 1, 2]) #➞ [[5, 2], [9, 1], [8, 8]]

[[5, 2], [9, 1], [8, 8]]

In [72]:
pairs([]) #➞ []

[]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [73]:
def add_str_nums(str1,str2):
    try:
        return int(str1)+int(str2)
    except:
        return -1

In [74]:
add_str_nums("4", "5") #➞ "9"

9

In [75]:
add_str_nums("abcdefg", "3") #➞ "-1"

-1

In [76]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729") #➞ "1874682736267235927391936562808774986"

1874682736267235927391936562808774986

### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [103]:
def unmix(string):
    new_string=''
    if len(string)%2==0:
        for i in range(len(string)):
            if i%2==0:
                new_string+=string[i+1]
            else:
                new_string+=string[i-1]
    else:
        for i in range(len(string)-1):
            if i%2==0:
                new_string+=string[i+1]
            else:
                new_string+=string[i-1]
                
        new_string+=string[len(string)-1]
    return new_string

In [104]:
unmix("123456") #➞ "214365"

'214365'

In [107]:
unmix("hTsii  s aimex dpus rtni.g") #➞ "This is a mixed up string."

'This is a mixed up string.'

In [106]:
unmix("badce") #➞ "abcde"

'abcde'